In [22]:
import numpy as np
import pandas as pd

In [23]:
df = pd.read_excel("AI CHIR_DIG.xlsx")

In [24]:
df.head()

,NAME_OPERATION,DOB,DOS,AGE_SURGERY,SEX,FHX,FHX_1DEGREE,CI_PREOP,PHX_ABDOMINAL_SURGERY,PERFORATION Pre op,...,NRAS,BRAF,Unnamed: 96,Unnamed: 97,Unnamed: 98,nom de l'acte operatoire,NAME_OPERATION.1,Unnamed: 101,1,NO
0,"Colectomy, partial: with colpoproctostomy (low...",1958-03-11 00:00:00,20200715,61,2.0,1.0,1.0,1.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,age,AGE_SURGERY,NaN,2.0,YES
1,"Colectomy, partial: with colpoproctostomy (low...",15/10/1935,20180705,82,2.0,1.0,NaN,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,SEX \n1 Homme \n2 Femme,SEX,NaN,NaN,NaN
2,"Colectomy, partial: with anastomosis or skin l...",1976-01-01 00:00:00,20190711,43,1.0,1.0,NaN,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Histoire familiale\n1 NON\n2 OUI,FHX,NaN,NaN,NaN
3,"Colectomy, partial: with colpoproctostomy (low...",19/07/1949,20190820,70,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,1e degre?\n1 NON\n2 OUI,FHX_1DEGREE,NaN,NaN,NaN
4,"Colectomy, total or subtotal, with proctectomy...",1975-01-02 00:00:00,20180802,43,2.0,2.0,2.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,Colono faite avant la derniere colo diagnostiq...,ATCD_COLONO,NaN,NaN,NaN

In [25]:
columns_to_extract = ['AGE_SURGERY', 'RTX_PREOP', 'CTX_PREOP', 'SURGERY_DURATION']
df = df[columns_to_extract]

print(df)

     AGE_SURGERY  RTX_PREOP  CTX_PREOP SURGERY_DURATION
0             61        2.0        2.0                3
1             82        1.0        1.0              NaN
2             43        1.0        1.0                2
3             70        2.0        1.0                3
4             43        2.0        2.0              NaN
..           ...        ...        ...              ...
308           62        1.0        1.0                2
309           44        1.0        1.0              NaN
310           33        1.0        1.0              NaN
311           55        1.0        1.0                2
312           78        1.0        2.0              NaN

[313 rows x 4 columns]

In [26]:
df_cleaned = df.dropna().reset_index(drop=True)

print(df_cleaned)

     AGE_SURGERY  RTX_PREOP  CTX_PREOP SURGERY_DURATION
0             61        2.0        2.0                3
1             43        1.0        1.0                2
2             70        2.0        1.0                3
3             39        2.0        2.0                3
4             38        2.0        2.0                3
..           ...        ...        ...              ...
206           58        1.0        1.0                2
207           77        1.0        1.0                3
208           73        1.0        1.0                2
209           62        1.0        1.0                2
210           55        1.0        1.0                2

[211 rows x 4 columns]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313 entries, 0 to 312
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   AGE_SURGERY       313 non-null    int64
 1   RTX_PREOP         289 non-null    float64
 2   CTX_PREOP         289 non-null    float64
 3   SURGERY_DURATION  211 non-null    object
dtypes: float64(2), int64(1), object(1)
memory usage: 9.9+ KB